.Background {
  background: linear-gradient(253.33deg, #3a1f87 7.47%, #7051ef 123.98%);
}
.Gridcontainer {
  display: grid;
  grid-template-columns: 35% 35% 25%;
  justify-content: space-between;
}
.Grid1 {
}
.Grid2 {
}
.Grid3 {
}
