@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirRegular.ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "Avenir", sans-serif;
  font-size: 62.5%;
}
body {
  font-family: "Avenir", sans-serif;
}
.slick-slider {
  position: relative;
}
.slick-arrow {
  position: absolute;
  top: 0;
}
.slick-arrow:hover {
  opacity: 0.5;
}

.slick-prev,
.slick-next {
  position: absolute;
  left: -25px !important;
}
.slick-next {
  top: 130px !important;
}
.slick-list {
  height: 120%;
  padding: 3rem 0;
  overflow: visible !important;
}
.slick-slide {
  position: relative;
  opacity: 0.5; /* set opacity for non-active slides */
  transition: all 0.5s ease-in-out; /* add transition effect */
  z-index: -1; /* set z-index to keep non-active slides in the background */
}
.slick-center {
  position: relative;
  opacity: 1; /* set opacity for active slide */
  z-index: 10; /* set z-index to bring active slide to the foreground */
  transform: scale(1.1) translateX(-4%); /* add scaling effect */
}
.slick-track {
  height: calc(100% + 500px) !important;
}

/* .react-tel-input .form-control {
  width: 100% !important;
  background: #fff9f4 !important;
  border: 1px solid rgba(255, 124, 3, 0.56) !important;
  height: auto !important;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 7px 0 !important;
} */
/* .react-tel-input .flag-dropdown {
  background: #fff9f4 !important;
  border: 1px solid rgba(255, 124, 3, 0.56) !important;
} */

.checkabout {
  display: inline;
}
